.content_warp{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,462px));
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content_link{
    grid-column: span 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    box-sizing: border-box;
    text-decoration: none;
    background: url("../../img/icon1.jpg") no-repeat black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}
.content_link:after {
    content: '';
    background-image: linear-gradient(0deg, rgb(36,10,26) 0% ,rgba(36,10,26,0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content_link:nth-child(2){
    background-image: url(../../img/icon2.jpg);
}
.content_link:nth-child(3){
    background-image: url(../../img/icon3.jpg);
}
.content_link:nth-child(4){
    background-image: url(../../img/icon4.jpg);
}
.content_link:nth-child(5){
    background-image: url(../../img/icon5.jpg);
}
.content_link:nth-child(6){
    background-image: url(../../img/icon6.jpg);
}

.fourx_link{
    grid-column: 1/3;
    grid-row: 1/3;
    padding-top: 40%;
  }

.content_link_pt{
    padding-top: 60%;
}

.content_icon{
    align-self: flex-start;
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 30px;
}

.content_icon_big{
    max-width: 200px;
    max-height: 200px;
}

.content_name{
    font-size: 40px;
    letter-spacing: 16px;
    line-height: 45px;
    color: white;
    transition-duration: 500ms;
    transition-property: color;
}

.content_name_big{
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 24px;
}

.content_link:hover .content_name{
    color: red;
}

@media (max-width: 1280px) {
    .content_name {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 8px;
    }
    .content_name_big {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 12px;
    }
    .content_warp{
        margin-bottom: 40px;
        margin-top: 40px;
        grid-gap: 20px;
    }
}

@media (max-width: 980px) {
    .content_warp {
        grid-template-columns: repeat(4,minmax(100px,462px));
    }

    .content_link {
        grid-column: span 2;
        padding-top: 50%;
    }

    .fourx_link {
        grid-column: 1 / -1;
    }
    .content_link:last-child{
        grid-column: 1 / -1 ;
    }

}

@media (max-width: 768px) {
    .content_link {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 580px) {
    .content_warp{
        grid-template-columns: 1fr;
    }

    .content_link{
        padding-top: 40%;
        grid-column: 1/ -1 ;
    }

    .content_name, .content_name_big{
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 4px;
    }
}