.header{
    background: url("../../img/main-bg.jpg") center top no-repeat black;
    background-size: cover;
}
.header_wrap{
    padding-bottom: 10vh;
    height: 90vh;
}

.header_top{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

.header_title {
    color: white;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    font-weight: normal;
}

.header_link {
    text-align: center;
    line-height: 75px;
    color: red;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 12px;
    display: inline-block;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.header_link:hover {
    letter-spacing: 15px;
}

.header_text {
    text-align: center;
}


.header_btn {
    text-decoration: none;
    display: block;
    width: 250px;
    height: 150px;
    margin: 0 auto;
    cursor: pointer;
    animation-name: animateArrow;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.header_arrow {
    display: block;
    width: 150px;
    height: 100px;
    margin: 50% auto;
    padding-top: 30%;
}

.header_info {
    margin-top: 10.2%;
    margin-bottom: 11%;
}

@media (max-width: 1280px) {
    .header_title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }
}

@media (max-width: 768px) {
    .header_top {
        grid-template-columns: auto;
        justify-items: center;
    }
    .header_logo {
        margin-bottom: 15px;
    }
}


@media (max-width: 500px) {
    .header_title {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 9px;
    }
    .header_link {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 6px;
    }
    .header_link:hover {
        letter-spacing: 9px;
    }
}

@keyframes animateArrow {
    0% {
     transform: translateY(0px) ;
    }
    20% {
        transform: translateY(25px);

    }
    40%{
        transform: translateY(0px) ;
    }
    60%{
        transform: translateY(0px) ;
    }
    80%{
        transform: translateY(0px) ;
    }
}