.instagram {
    background: url("../../img/instagram.jpg") center top no-repeat #000;
    background-size: cover;

}

.instagram_link {
    text-align: center;
    line-height: 75px;
    color: red;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 12px;
    display: inline-block;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.instagram_title {
    color: white;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    font-weight: normal;
}

.instagram_info{
    padding-top: 24%;
    text-align: center;
    padding-bottom: 24%;
}

.instagram_link:hover {
    letter-spacing: 15px;
}

@media (max-width: 1280px) {
    .instagram_title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }
}


@media (max-width: 500px) {
    .instagram_title {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 9px;
    }
    .instagram_link {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 6px;
    }
    .instagram_link:hover {
        letter-spacing: 9px;
    }
}
