.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu_black .menu_list{
    justify-content: flex-start;
}

.menu_item {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 6.3px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin-left: 65px;
}

.menu_black .menu_item {
    color: black;
}

.menu_item:first-child {
    margin-left: 0;
}

.menu_link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 500ms;
}

.menu_black .menu_link {
    color: black;
}


.menu_link:hover, .menu_link:active, .menu_link:focus{
    color: red;
}

@media (max-width: 1280px) {
    .menu_item {
        margin-left: 30px;
        letter-spacing: 3px;
    }
}

@media (max-width: 980px) {
    .menu_item {
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .menu_list .menu_black .menu_list{
        flex-wrap: wrap;
        justify-content: center;
    }
}


