.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials_svg {
    fill: black;
    transition-property: fill;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
}

.socials_svg:hover{
    fill:red;
}

@media (max-width: 768px) {
    .socials_item{
        margin: 15px;
    }
}
